* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  border: 5px solid black;
  width: 800px;
  margin: 50px auto;
}
/* .container {
  width: 800px;
} */
.top-header {
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  background-color: rgb(241, 241, 241);
}
.free-shipping {
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
}
.ready {
  margin-bottom: 10px;
}
a:link,
a:visited {
  color: black;
  margin-bottom: 500px;
}
a:hover,
a:active {
  text-decoration: none;
  margin-bottom: 500px;
}
.more-information {
  margin-bottom: 500px;
  size: 100px;
}
button {
  background-color: black;
  border: none;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  border-top: 4px solid black;

  cursor: pointer;
  width: 100%;
  height: 50px;
}
button:hover {
  background-color: white;
  color: black;
}
.price {
  font-size: x-large;
  margin-bottom: 5px;
}
.product-detail {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}
ul {
  margin-left: 10px;
  list-style: square;
}
li {
  margin: 10px;
}
